
<body>
  <!-- Cabeçalho -->
  <header>
    <div class="top-bar">
      <a href="#">Home</a>
      <a href="#" routerLink="sobre">A Empresa</a>
      <a href="#" routerLink="funcionários">Funcionários</a>
    </div>
    <div class="header-content">
      <div class="logo">
        <h1>Adote um novo <span>amor</span></h1>
      </div>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
<!-- Rodapé -->
<footer>
  <p>&copy; 2024 - Obrigado por mudar a vida de mais um Pet 🐾❤️</p>
</footer>
</body>
