/* Estilo geral da página */

/* Formulário */
.from {
  display: flex;
  justify-content: center;
}
form {
  background-color: #bb6f04; /* Cor de fundo para o formulário */
  padding: 20px;
  margin:20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 600px;
  box-sizing: border-box; /* Para garantir que o padding não sobrecarregue a largura */
}

/* Títulos */
form h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000000;
}

/* Estilo dos campos de entrada */
input[type="text"],
input[type="number"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
  box-sizing: border-box;
}

/* Estilo para o botão cadastrar */
input[type="button"] {
  display: block; /* Centraliza o botão em conjunto com margin */
  margin: 20px auto; /* Centraliza horizontalmente e cria espaçamento acima/abaixo */
  padding: 15px 30px; /* Aumenta o tamanho do botão */
  background-color: #007BFF; /* Cor azul padrão */
  color: white; /* Cor do texto */
  border: none; /* Remove a borda padrão */
  border-radius: 8px; /* Bordas arredondadas */
}

/* Ajustes para o texto do formulário */
form label {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #000000;
}


