<!-- Serviços Funcionários -->
<section class="services">
    <h2>Serviços Funcionários</h2>
    
    <div class="service-list">
        <button class="router-link" routerLink="cadastro_animais">
            <div class="service-item">
                <img src="https://i.pinimg.com/736x/5f/86/14/5f8614ae67f8d5dd6981ff3da41323da.jpg" alt="Criação de Sites"> 
                <h3>Cadastrar animais</h3>
                <p>Nessa área o funcionário cadastra novos animais.</p>
            </div>
        </button>
        <button class="router-link" routerLink="analise_adocoes">
            <div class="service-item">
            <img src="https://i.pinimg.com/736x/82/27/45/822745abe9ee45e8b485c35c0f576dcd.jpg" alt="Sites Responsivos">
            <h3>Análise de adoções</h3>
            <p> Nessa área você poderá aprovar ou não a adoção de animais.</p>
            </div>
        </button>
    </div>
</section>
<router-outlet></router-outlet>